h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: rgb(218, 210, 210);
}
footer{
    text-align: center;
}

/* Splitting the screen in half */
.split{
width:50%;
height: 50vh;
padding-top: 20px;
}

/* Control the left side */
#left_Section {
    display:flex;
left: 0;
background-color: #111;
}

/* Control the right side */
#right_Section {

right: 0;
background-color: red;
}
/* .left-imgs {
    position: absolute;
} */
.right-imgs{
    position: absolute;

}
